.col-md-3{
    display: inline-block;
    margin-left:-4px;
  }
  .col-md-3 img{
    width:100%;
    height:auto;
  }
  body .carousel-indicators li{
   
  }
  body .carousel-indicators{
    bottom: 0;
    
  }
  
  body .carousel-control-prev-icon,
  body .carousel-control-next-icon {
    padding: 1rem;
    background-color: gray;
  }
  body .no-padding{
    padding-left: 0;
    padding-right: 0;
     }